body {
    text-align: center;
    padding: 20px;
}

.tool {
    display: none;
}

#calc-display {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    box-sizing: border-box;
}

#calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}


.timer-input input {
    width: 60px;
    text-align: center;
}

